// color
$light-blue: #8fd4d9;
$main-blue: #4469af;
$dark-blue: #4c4f56;
$light-grey: #e6ecf0;

// measures
$timer-size: 20rem;
$timer-btn-group-width: 40%;

* {
  margin: 0;
  padding: 0;
}

button, input[type="submit"]{
  background-color: #fff;
  padding: 0.4rem 0.8rem;
  margin: 0 0.2rem;
  font-size: 0.9rem;
  line-height: 0.9rem;
  box-sizing: border-box;
  border: 1px solid $dark-blue;
  outline: none;
}

.btn-dark{
  background-color: $dark-blue;
  color: #fff;
}

input[type="text"]{
  outline: none;
  padding: 0.2rem;
  font-size: 0.9rem;
  width: 70%;
}

body {
  background-color: $light-blue;
  color: $dark-blue;
  font-family: sans-serif;
}

.App {
  width: 100vw;
  height: 100vh;
  font-size: 1rem;
  box-sizing: border-box;
  max-width: 800px;
  margin: 0 auto;
}

.TimeController {
  // background-color: $main-blue;
  padding: 40px 0;

  .counter {
    box-sizing: border-box;
    display: inline-block;
    width: 50%;
    text-align: center;

    &__name{
      font-weight: bold;
      margin-right: 10px;
    }

    &__number{
      padding: 0 6px;
    }

    button {
      background-color: #fff;
      color: $main-blue;
      padding: 0.2rem 1rem;
      border: none;
    }
  }
}

.Clock {
  padding: 30px 0;
  .clock{
    &__timer{
      font-size: 3rem;
      text-align: center;
      line-height: $timer-size;
      width:$timer-size;
      height:$timer-size;
      display: block;
      background-color: inherit;
      border: 8px solid $dark-blue;
      border-radius: 100%;
      margin: 0 auto;
    }

    &__btn-group{
      width:$timer-btn-group-width;
      margin: 30px auto;
      box-sizing: border-box;
    }

    &__btn{
      display: inline-block;
      margin: 0 2%;
      width:46%;
      padding: 0.8rem 1rem;
    }
  }
}

.TaskField {
  width: 70%;
  margin: 20px auto;
  text-align: center;

  input[type="submit"]{
    background-color: $dark-blue;
    color: #fff;
    margin-left: 6px;
  }

  &__message {
    margin: 20px 0;
    font-weight: normal;
    font-size: 1.2rem;
  }
}
